body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  text-align: center;
}
form {
  margin-bottom: 20px;
}
.main-card button {
  position: relative;
  bottom: 15px;
  left: -70px;
  width: 61px;
}
.favorites {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.favorites img {
  width: 150px;
}